# Feature Engineering

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import math
from geopy.distance import geodesic
from sklearn.preprocessing import OneHotEncoder, StandardScaler
import seaborn as sns
from sklearn.feature_selection import SelectKBest
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures

In [2]:
#Read CSV File
train_df = pd.read_csv('../cleaned_dataset/train.csv')
test_df = pd.read_csv('../cleaned_dataset/test.csv')
weather_df = pd.read_csv('../cleaned_dataset/weather.csv')
spray_df = pd.read_csv('../cleaned_dataset/spray.csv')

In [3]:
train_df

,block,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent,tmax_stn1,tmin_stn1,tavg_stn1,depart_stn1,...,trap_T233,trap_T235,trap_T236,trap_T237,trap_T238,trap_T900,trap_T903,species_others,street_others,trap_others
0,41,41.954690,-87.800991,9,1,0,88,60,74,10,...,0,0,0,0,0,0,0,0,0,0
1,41,41.954690,-87.800991,9,1,0,88,60,74,10,...,0,0,0,0,0,0,0,0,0,0
2,62,41.994991,-87.769279,9,1,0,88,60,74,10,...,0,0,0,0,0,0,0,0,0,0
3,79,41.974089,-87.824812,8,1,0,88,60,74,10,...,0,0,0,0,0,0,0,0,0,0
4,79,41.974089,-87.824812,8,4,0,88,60,74,10,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10501,51,41.763733,-87.742302,8,6,1,75,50,63,3,...,0,0,0,0,0,0,0,0,0,0
10502,58,41.987280,-87.666066,8,5,0,75,50,63,3,...,0,0,0,0,0,0,0,0,0,0
10503,17,41.912563,-87.668055,9,1,0,75,50,63,3,...,0,0,0,0,0,0,0,0,0,0
10504,71,42.009876,-87.807277,9,5,0,75,50,63,3,...,1,0,0,0,0,0,0,0,0,0
10505,42,41.776428,-87.627096,8,1,0,75,50,63,3,...,0,1,0,0,0,0,0,0,0,0

In [4]:
column_names = list(train_df.columns)
print(column_names)

['block', 'latitude', 'longitude', 'addressaccuracy', 'nummosquitos', 'wnvpresent', 'tmax_stn1', 'tmin_stn1', 'tavg_stn1', 'depart_stn1', 'dewpoint_stn1', 'wetbulb_stn1', 'heat_stn1', 'cool_stn1', 'sunrise_stn1', 'sunset_stn1', 'depth_stn1', 'snowfall_stn1', 'preciptotal_stn1', 'stnpressure_stn1', 'sealevel_stn1', 'resultspeed_stn1', 'resultdir_stn1', 'avgspeed_stn1', 'tmax_stn2', 'tmin_stn2', 'tavg_stn2', 'dewpoint_stn2', 'wetbulb_stn2', 'heat_stn2', 'cool_stn2', 'preciptotal_stn2', 'stnpressure_stn2', 'sealevel_stn2', 'resultspeed_stn2', 'resultdir_stn2', 'avgspeed_stn2', 'year', 'month', 'day', 'species_CULEX PIPIENS', 'species_CULEX PIPIENS/RESTUANS', 'species_CULEX RESTUANS', 'species_CULEX SALINARIUS', 'species_CULEX TARSALIS', 'species_CULEX TERRITANS', 'street_ E 105TH ST', 'street_ E 111TH ST', 'street_ E 115TH ST', 'street_ E 118TH ST', 'street_ E 130TH ST', 'street_ E 138TH ST', 'street_ E 67TH ST', 'street_ E 91ST PL', 'street_ E 91ST ST', 'street_ E RANDOLPH ST', 'street_ N ASHLAND AVE', 'street_ N ASHLAND AVE OVERPASS', 'street_ N AUSTIN AVE', 'street_ N AVONDALE AVE', 'street_ N CALIFORNIA AVE', 'street_ N CAMPBELL AVE', 'street_ N CANNON DR', 'street_ N CENTRAL PARK DR', 'street_ N FRANCISCO AVE', 'street_ N HARLEM AVE', 'street_ N HUMBOLDT DR', 'street_ N KEDVALE AVE', 'street_ N LARAMIE AVE', 'street_ N LAWLER AVE', 'street_ N LEMONT AVE', 'street_ N LONG AVE', 'street_ N MANDELL AVE', 'street_ N MCCLELLAN AVE', 'street_ N MILWAUKEE AVE', 'street_ N MONT CLARE AVE', 'street_ N MOSELL AVE', 'street_ N OAK PARK AVE', 'street_ N OAKLEY AVE', 'street_ N OKETO AVE', 'street_ N PITTSBURGH AVE', 'street_ N PULASKI RD', 'street_ N RICHMOND ST', 'street_ N RIDGE AVE', 'street_ N RUTHERFORD AVE', 'street_ N SPRINGFIELD AVE', 'street_ N STAVE ST', 'street_ N STREETER DR', 'street_ N TRIPP AVE', 'street_ N WESTERN AVE', 'street_ S ARTESIAN AVE', 'street_ S ASHLAND AVE', 'street_ S AVENUE G', 'street_ S AVENUE L', 'street_ S BRANDON', 'street_ S CALIFORNIA', 'street_ S CALIFORNIA AVE', 'street_ S CARPENTER ST', 'street_ S CENTRAL AVE', 'street_ S CHICAGO AVE', 'street_ S CICERO AVE', 'street_ S CORNELL AVE', 'street_ S COTTAGE GROVE', 'street_ S DEARBORN ST', 'street_ S DOTY AVE', 'street_ S DR MARTIN LUTHER KING JR DR', 'street_ S EBERHART AVE', 'street_ S HAMLIN AVE', 'street_ S HOYNE AVE', 'street_ S KEDZIE AVE', 'street_ S KILPATRICK AVE', 'street_ S KOLMAR', 'street_ S KOSTNER AVE', 'street_ S LONGWOOD DR', 'street_ S MACKINAW', 'street_ S MELVINA AVE', 'street_ S MILLARD AVE', 'street_ S MUSKEGON AVE', 'street_ S NORDICA', 'street_ S PEORIA ST', 'street_ S PULASKI RD', 'street_ S RACINE AVE', 'street_ S SOUTH SHORE DR', 'street_ S STATE ST', 'street_ S STONY ISLAND AVE', 'street_ S THROOP', 'street_ S TORRENCE AVE', 'street_ S UNION AVE', 'street_ S VINCENNES', 'street_ S WALLACE ST', 'street_ S WESTERN AVE', 'street_ W 104TH ST', 'street_ W 113TH ST', 'street_ W 116TH ST', 'street_ W 127TH PL', 'street_ W 18TH ST', 'street_ W 31ST ST', 'street_ W 37TH PL.', 'street_ W 51ST ST', 'street_ W 63RD ST', 'street_ W 64TH ST', 'street_ W 65TH ST', 'street_ W 69TH ST', 'street_ W 72ND ST', 'street_ W 77TH ST', 'street_ W 85TH ST', 'street_ W 89TH ST', 'street_ W 95TH ST', 'street_ W ADDISON ST', 'street_ W AGATITE AVE', 'street_ W BALMORAL AVE', 'street_ W BELDEN AVE', 'street_ W CHICAGO', 'street_ W FARWELL AVE', 'street_ W FOSTER AVE', 'street_ W FULLERTON AVE', 'street_ W GARFIELD BLVD', 'street_ W GRAND AVE', 'street_ W GRANVILLE AVE', 'street_ W GREENLEAF AVE', 'street_ W HIGGINS AVE', 'street_ W HIGGINS RD', 'street_ W LELAND AVE', 'street_ W MONTANA ST', 'street_ W MONTROSE DR', 'street_ W OHARE', 'street_ W OHARE AIRPORT', 'street_ W PERSHING RD', 'street_ W ROOSEVELT', 'street_ W ROSCOE ST', 'street_ W STRONG ST', 'street_ W SUNNYSIDE AVE', 'street_ W WEBSTER AVE', 'trap_T002', 'trap_T003', 'trap_T004', 'trap_T005', 'trap_T006', 'trap_T007', 'trap_T008', 'trap_T009', 'trap_T011', 'trap_T012', 'trap_T013', 'trap_T014', 'trap_T015', 'trap_T016', 'trap_T017', 'trap_T018', 'trap_T019', 'trap_T025', 'trap_T027', 'trap_T028', 'trap_T030', 'trap_T031', 'trap_T033', 'trap_T034', 'trap_T035', 'trap_T036', 'trap_T037', 'trap_T039', 'trap_T040', 'trap_T043', 'trap_T044', 'trap_T045', 'trap_T046', 'trap_T047', 'trap_T048', 'trap_T049', 'trap_T050', 'trap_T051', 'trap_T054', 'trap_T054C', 'trap_T060', 'trap_T061', 'trap_T062', 'trap_T063', 'trap_T065', 'trap_T066', 'trap_T067', 'trap_T069', 'trap_T070', 'trap_T071', 'trap_T072', 'trap_T073', 'trap_T074', 'trap_T075', 'trap_T076', 'trap_T077', 'trap_T078', 'trap_T079', 'trap_T080', 'trap_T081', 'trap_T082', 'trap_T083', 'trap_T084', 'trap_T085', 'trap_T086', 'trap_T088', 'trap_T089', 'trap_T090', 'trap_T091', 'trap_T092', 'trap_T094', 'trap_T094B', 'trap_T095', 'trap_T096', 'trap_T097', 'trap_T099', 'trap_T100', 'trap_T102', 'trap_T103', 'trap_T107', 'trap_T114', 'trap_T115', 'trap_T128', 'trap_T129', 'trap_T135', 'trap_T138', 'trap_T141', 'trap_T142', 'trap_T143', 'trap_T144', 'trap_T145', 'trap_T146', 'trap_T147', 'trap_T148', 'trap_T149', 'trap_T150', 'trap_T151', 'trap_T152', 'trap_T153', 'trap_T154', 'trap_T155', 'trap_T156', 'trap_T157', 'trap_T158', 'trap_T159', 'trap_T160', 'trap_T161', 'trap_T162', 'trap_T200', 'trap_T206', 'trap_T209', 'trap_T212', 'trap_T215', 'trap_T218', 'trap_T219', 'trap_T220', 'trap_T221', 'trap_T222', 'trap_T223', 'trap_T224', 'trap_T225', 'trap_T226', 'trap_T227', 'trap_T228', 'trap_T229', 'trap_T230', 'trap_T231', 'trap_T232', 'trap_T233', 'trap_T235', 'trap_T236', 'trap_T237', 'trap_T238', 'trap_T900', 'trap_T903', 'species_others', 'street_others', 'trap_others']

## Creating Interaction Features:

In [5]:
# Calculate the duration of daylight
train_df['daylight_duration'] = train_df['sunset_stn1'] - train_df['sunrise_stn1']

# Print the updated DataFrmame
print(train_df.head())

   block   latitude  longitude  addressaccuracy  nummosquitos  wnvpresent  \
0     41  41.954690 -87.800991                9             1           0
1     41  41.954690 -87.800991                9             1           0
2     62  41.994991 -87.769279                9             1           0
3     79  41.974089 -87.824812                8             1           0
4     79  41.974089 -87.824812                8             4           0

   tmax_stn1  tmin_stn1  tavg_stn1  depart_stn1  ...  trap_T235  trap_T236  \
0         88         60         74           10  ...          0          0
1         88         60         74           10  ...          0          0
2         88         60         74           10  ...          0          0
3         88         60         74           10  ...          0          0
4         88         60         74           10  ...          0          0

   trap_T237  trap_T238  trap_T900  trap_T903  species_others  street_others  \
0          0          0          0          0               0              0
1          0          0          0          0               0              0
2          0          0          0          0               0              0
3          0          0          0          0               0              0
4          0          0          0          0               0              0

   trap_others  daylight_duration
0            0               1496
1            0               1496
2            0               1496
3            0               1496
4            0               1496

[5 rows x 312 columns]

In [6]:
# Convert temperatures from Fahrenheit to Celsius
train_df['tavg_stn2_celsius'] = (train_df['tavg_stn2'] - 32) * 5/9
train_df['tavg_stn1_celsius'] = (train_df['tavg_stn1'] - 32) * 5/9

# Calculate actual vapor pressure for each station
train_df['actual_vapor_pressure_stn2'] = 6.11 * 10**((7.5 * train_df['tavg_stn2_celsius']) / (237.7 + train_df['tavg_stn2_celsius']))
train_df['actual_vapor_pressure_stn1'] = 6.11 * 10**((7.5 * train_df['tavg_stn1_celsius']) / (237.7 + train_df['tavg_stn1_celsius']))

# Calculate saturation vapor pressure for each station
train_df['saturation_vapor_pressure_stn2'] = 6.11 * 10**((7.5 * train_df['dewpoint_stn2']) / (237.7 + train_df['dewpoint_stn2']))
train_df['saturation_vapor_pressure_stn1'] = 6.11 * 10**((7.5 * train_df['dewpoint_stn1']) / (237.7 + train_df['dewpoint_stn1']))

# Calculate relative humidity for each station
train_df['relative_humidity_stn2'] = (train_df['actual_vapor_pressure_stn2'] / train_df['saturation_vapor_pressure_stn2']) * 100
train_df['relative_humidity_stn1'] = (train_df['actual_vapor_pressure_stn1'] / train_df['saturation_vapor_pressure_stn1']) * 100

In [7]:
# Drop the specified columns
train_df.drop(['tavg_stn2', 'dewpoint_stn2', 'dewpoint_stn1', 'tavg_stn1', 'sunset_stn1', 'sunrise_stn1', 'actual_vapor_pressure_stn2','actual_vapor_pressure_stn1','saturation_vapor_pressure_stn2','saturation_vapor_pressure_stn1'], axis=1, inplace=True)

In [8]:
# Export the modified DataFrame to a new CSV file
train_df.to_csv('../cleaned_dataset/cleaned_fe_train.csv', index=False)

In [9]:
# Calculate the duration of daylight
test_df['daylight_duration'] = test_df['sunset_stn1'] - test_df['sunrise_stn1']

# Print the updated DataFrmame
print(test_df.head())

   block  latitude  longitude  addressaccuracy  tmax_stn1  tmin_stn1  \
0     41  41.95469 -87.800991                9         86         61
1     41  41.95469 -87.800991                9         86         61
2     41  41.95469 -87.800991                9         86         61
3     41  41.95469 -87.800991                9         86         61
4     41  41.95469 -87.800991                9         86         61

   tavg_stn1  depart_stn1  dewpoint_stn1  wetbulb_stn1  ...  trap_T232  \
0         74            7             56            64  ...          0
1         74            7             56            64  ...          0
2         74            7             56            64  ...          0
3         74            7             56            64  ...          0
4         74            7             56            64  ...          0

   trap_T233  trap_T235  trap_T236  trap_T237  trap_T238  trap_T900  \
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

   trap_T903  trap_others  daylight_duration
0          0            0               1510
1          0            0               1510
2          0            0               1510
3          0            0               1510
4          0            0               1510

[5 rows x 310 columns]

In [10]:
# Convert temperatures from Fahrenheit to Celsius
test_df['tavg_stn2_celsius'] = (test_df['tavg_stn2'] - 32) * 5/9
test_df['tavg_stn1_celsius'] = (test_df['tavg_stn1'] - 32) * 5/9

# Calculate actual vapor pressure for each station
test_df['actual_vapor_pressure_stn2'] = 6.11 * 10**((7.5 * test_df['tavg_stn2_celsius']) / (237.7 + test_df['tavg_stn2_celsius']))
test_df['actual_vapor_pressure_stn1'] = 6.11 * 10**((7.5 * test_df['tavg_stn1_celsius']) / (237.7 + test_df['tavg_stn1_celsius']))

# Calculate saturation vapor pressure for each station
test_df['saturation_vapor_pressure_stn2'] = 6.11 * 10**((7.5 * test_df['dewpoint_stn2']) / (237.7 + test_df['dewpoint_stn2']))
test_df['saturation_vapor_pressure_stn1'] = 6.11 * 10**((7.5 * test_df['dewpoint_stn1']) / (237.7 + test_df['dewpoint_stn1']))

# Calculate relative humidity for each station
test_df['relative_humidity_stn2'] = (test_df['actual_vapor_pressure_stn2'] / test_df['saturation_vapor_pressure_stn2']) * 100
test_df['relative_humidity_stn1'] = (test_df['actual_vapor_pressure_stn1'] / test_df['saturation_vapor_pressure_stn1']) * 100

In [11]:
# Drop the specified columns
test_df.drop(['tavg_stn2', 'dewpoint_stn2', 'dewpoint_stn1', 'tavg_stn1', 'sunset_stn1', 'sunrise_stn1', 'actual_vapor_pressure_stn2','actual_vapor_pressure_stn1','saturation_vapor_pressure_stn2','saturation_vapor_pressure_stn1'], axis=1, inplace=True)

In [12]:
# Export the modified DataFrame to a new CSV file
test_df.to_csv('../cleaned_dataset/cleaned_fe_test.csv', index=False)

In [13]:
# Check for null values in test_df
null_values = test_df.isnull().sum()
print(null_values)

block                     0
latitude                  0
longitude                 0
addressaccuracy           0
tmax_stn1                 0
                         ..
daylight_duration         0
tavg_stn2_celsius         0
tavg_stn1_celsius         0
relative_humidity_stn2    0
relative_humidity_stn1    0
Length: 308, dtype: int64

In [14]:
# Check for null values in test_df and identify columns with null values
null_columns = test_df.columns[test_df.isnull().any()]
print(null_columns)

Index([], dtype='object')